<%- include("../partials/header") %>
	
<div class="container">
	<header class = "jumbotron">
		<div class="container">
			<h1> Welcome to your Parkner </h1>
			<p>View our comments of parks from all over the world</p>
			<p>
				<a class="btn btn-primary btn-large" href ="/parks/new">add new park</a>
			</p>
		</div>
		
	</header>

	<div class ="row text-center" style="display:flex; flex-wrap: warp;">
		<% parks.forEach(function(park){ %>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card">
                  <img class="card-img-top" src="<%= park.image %>" alt="<%= park.name %>">
                  <div class="card-body">
                    <h5 class="card-title"><%= park.name %></h5>
                  </div>
					<p>
					<a href = "/parks/<%= park._id %>" class = "btn btn-primary btn-large">More Info</a>
					</p>
				
                </div>
            </div>
		<% }) %>
	</div>
</div>

<%- include("../partials/footer") %>